@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --accent-color: #8672FF;
  --base-color: #FFFFFF;
  --text-color: #2E2B41;
  --button-color: #4CAF50;
  --button-hover-color: #45a049;
  --header-color: #000000;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
}

/* Header */
.header-bar {
  background-color: var(--header-color);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header-bar .logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white; /* Mantener el logo en blanco */
}

/* Chat box */
.chat-box {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.user-message {
  text-align: right;
  background-color: #9ed1a0;
  padding: 10px;
  border-radius: 15px 0 15px 15px;
  max-width: 40%;
  margin: 5px 0 5px auto;
}

.ai-message {
  text-align: left;
  background-color: #4CAF50;
  padding: 10px;
  border-radius: 0 15px 15px 15px;
  max-width: 60%;
  margin: 5px auto 5px 0;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 5px;
}

/* Botones */
.send-button, .make-design-button {
  background-color: var(--button-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-button:hover, .make-design-button:hover {
  background-color: var(--button-hover-color);
}

/* Spinner */
.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--button-color);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
