/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* Header styling */
header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

header nav a:hover {
  text-decoration: underline;
}

/* Main container styling */
/* Main container styling */
.container {
  max-width: 100%; /* Ajusta a un porcentaje mayor para que ocupe más ancho */
  margin: 80px auto; /* Reduce el margen superior para acercarlo al header */
  padding: 80px; /* Aumenta el padding para dar más espacio interno */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}


/* Navigation button group */
.button-group {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Aumenta el espacio entre los botones */
  align-items: center;
  width: 100%; /* Si deseas que el grupo ocupe todo el ancho disponible */
}

.nav-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  width: 50%;
  text-align: center;
}

.nav-button:hover {
  background-color: #f0f0f0;
}
